<mat-toolbar class="footer"> <!-- footer is only displayed on normal displays not on the mobile version -->
  <div fxShow="true" fxHide.lt-md="true">
    <button class="footerItem" aria-label="Name">
      <span class="nameAndModule">Created by Laura Ehlers 2022</span>
    </button>
  </div>
  <span class="spacerFooter"></span>
  <div fxShow="true" fxHide.lt-md="true">

    <button class="footerItem" aria-label="Module">
      <span class="nameAndModule">Project: Java and Web Development DLBCSPJWD01</span>
    </button>
  </div>
</mat-toolbar>
