html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.masonry-with-columns {
  column-count: 4;
  column-gap: 3rem;
  margin: 0 50px;
}

.masonry-with-columns .card {
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
  font-size: 2rem;
}

.page-title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry-with-columns {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry-with-columns {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry-with-columns {
    column-count: 2;
  }
}
