html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.masonry-with-columns {
  column-count: 4;
  column-gap: 3rem;
  margin: 0 50px;
}

.masonry-with-columns .card {
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
  font-size: 2rem;
}

.page-title, .page-title mat-icon {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.page-title mat-icon {
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}

.rotate{
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.rotate.down{
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry-with-columns {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry-with-columns {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry-with-columns {
    column-count: 2;
  }
}
