.page-title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.masonry-with-columns .card {
  margin: 5px;
  display: inline-block;
  width: 100%;
  font-size: 2rem;
}

#add {
  margin-right: 15px;
}

mat-card-actions {
  padding: 0;
  padding-bottom: 5px !important;
}

.ib-button {
  cursor: pointer;
}

/*Desktop Viewport*/
@media only screen and (min-width: 769px) {
  .masonry-with-columns .card {
    width: 25%;
  }
}

/* Tablet viewport*/
@media only screen and (max-width: 768px) and (min-width: 481px) {
  .masonry-with-columns .card {
    width: 40%;
  }
}

/* Mobile viewport */
@media only screen and (max-width: 480px) {
  .masonry-with-columns .card {
    width: 100%;
  }
}
