<ng-container>
  <div class="searchBox">
    <input (keyup.enter)="search()" id="searchInput" type="text" name="" placeholder="Search">
    <span class="icon-bg">
      <mat-icon id="searchIcon" (click)="search()">search</mat-icon>
    </span>
  </div>
  <div class="masonry-with-columns">
    <mat-card *ngFor="let item of items" class="card">
      <img mat-card-image [src]="item.src">
      <mat-card-content>
        <p>© {{ item.creator }}</p>
      </mat-card-content>
      <mat-card-actions>
        <fa-icon class="ib-button" (click)="downloadImage(item.src)" [icon]="icons.download" size="xs"></fa-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
