html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.masonry-with-columns {
  column-count: 4;
  column-gap: 3rem;
  margin: 0 50px;
}

.masonry-with-columns .card {
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
  font-size: 2rem;
}

.page-title, .page-title mat-icon {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.page-title mat-icon {
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}

.rotate{
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.rotate.down{
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.searchBox {
  background: coral;
  height: 60px;
  border-radius: 40px;
  padding: 0;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 300px;
}

.searchInputHover {
  width: 200px !important;
  padding: 0 6px !important;
  color: white;
}

#searchInput {
  border: none;
  background: none;
  outline: none;
  float: right;
  padding: 0;
  color: white;
  font-size: 16px;
  line-height: 40px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 1rem;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  font-size: 1rem;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  font-size: 1rem;
}
.ib-button {
  cursor: pointer;
}

#searchIcon {
  cursor: pointer;
}

.icon-bg {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry-with-columns {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry-with-columns {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry-with-columns {
    column-count: 2;
  }
}
